@model List< KuzinShop.Models.ViewModels.AdminUsersViewModel>

<!-- Кнопка добавления нового продукта -->
<div class="text-center mt-4">
</div>
<h2 class="mt-5">👥 Пользователи</h2>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Логин</th>
            <th>Статус</th>
            <th>Роли</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.UserName</td>
                    @if (user.IsActive) {
                        <td>Активен</td>
                    }else{
                        <td>Не активен</td>
                    }
                    <td>@foreach(var role in user.Roles) @role.ToString()</td>
                    <td>

                        <form method="get" action="@Url.Action("EditUser", "Admin", new { id = user.Id })" style="display: inline-block; margin-left: 10px;">
                            <button type="submit" class="btn btn-sm btn-warning">✏️ Редактировать</button>
                        </form>
                        @if(user.IsActive){
                            <form method="post" action="@Url.Action("ChangeUserStatus", "Admin", new { id = user.Id })" style="display: inline-block; margin-left: 10px;">
                                <button type="submit" class="btn btn-sm btn-danger">❌ Заблокировать</button>
                            </form>
                        } else{
                            <form method="post" action="@Url.Action("ChangeUserStatus", "Admin", new { id = user.Id })" style="display: inline-block; margin-left: 10px;">
                                <button type="submit" class="btn btn-sm btn-success">✅ Разблокировать</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Нет доступных продуктов</td>
            </tr>
        }
    </tbody>
</table>